* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7d5fff;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.note {
    margin: 80px 15px 15px 15px;
    width: 350px;
    height: 250px;
    background: #cecece;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-family: 'Open Sans', sans-serif;
}

.tool-box {
    background: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:focus {
    transition: background-color .5s ease;
    background-color: rgba(0, 0, 0, 0.2);
}

.add-note {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}

.add-note:focus {
    transition: background-color .3s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

/* #save {
    background-color: #badc58;
}

#save:focus {
    transition: background-color .5s ease;
    background-color: #6ab04c;
}

#delete {
    background-color: #ff7979;
}

#delete:focus {
    transition: background-color .5s ease;
    background-color: #eb4d4b;
} */

@media screen and (max-width: 467px){
    .container {
        display: flex;
        justify-content: center;
    }
    .note {
    margin: 80px 15px 15px 15px;
    }
    .add-note {
        top: initial;
        bottom: 20px;
    }
}